#dth{
    text-transform: uppercase;
    padding: 100px 0px 30px 0px;
}
.sumry{
    text-align: center;
    width: 100%;
    max-width: 700px;
    margin: auto;
    /* border: 1px solid black; */
    padding-right: 300px;
}
.dthr{
    width: 100%;
    max-width: 700px;
    margin: auto;
}
#pp{
    text-align: center;
    width: 100%;
    max-width: 700px;
    margin: auto;
    padding-bottom: 40px;
}