#dth{
    text-transform: uppercase;
    padding: 100px 0px 30px 0px;
}
.sumry{
    text-align: left;
    width: 100%;
    max-width: 80%;
    margin: 10px 0px 10px 50px;
}
.dthr{
    width: 90%;
    margin: 10px auto;
}
#pp{
    text-align: center;
    width: 100%;
    max-width: 88%;
    margin: auto 50px;
    text-align: left;
}
.details{
    margin: 20px 0px ;
}