#erh1{
    text-transform: uppercase;
    padding: 50px 0px 40px 0px;
    background-color: white;
    font-family: Futura;
    letter-spacing: 1.5px
}
.erdiv{
    width: 100%;
    max-width: 700px;
    margin: auto;
    text-align: left;
}
.aa{
    color: black;
}
.aa:hover{
    text-decoration: none;
}