.ps{
    margin-top: 100px;
    letter-spacing: 1.5px;
}
#h1{
    text-transform: uppercase;
    padding: 50px 0px 50px 0px;
    background-color: white;
    font-family: Futura;
    letter-spacing: 1.5px
}
#h3{
    text-transform: uppercase;
    padding-top: 100px;
    margin-bottom: -50px;
}
.h{
    width: 100%;
    max-width: 650px;
    letter-spacing: 1.5px;
    margin: auto;
    /* text-align: justify; */
    padding: 70px 0px 100px 0px;
}