#tosh2{
    text-transform: uppercase;
    padding: 50px 0px 80px 0px;
    background-color: white;
    font-family: Futura;
    letter-spacing: 1.5px
}
.tosdiv{
    width: 100%;
    max-width: 890px;
    margin: auto;
    text-align: left;
    /* text-align: justify; */
}