.unstitched-26-h1 {
  font-family: Century Gothic;
  text-transform: uppercase;
  padding: 80px 0px 50px 0px;
  letter-spacing: 4px;
}
.unstitched-26-EL {
  margin: 30px 10px 50px 0px;
  background-color: transparent;
  border-color: transparent;
  color: #aba8a8;
  text-decoration: none;
}
.unstitched-26-EL:active {
  color: black;
  font-weight: bold;
}
.unstitched-26-EL:hover {
  color: black;
  text-decoration: underline;
}
#unstitched-26-filter {
  visibility: hidden;
  font-size: 10pt;
  letter-spacing: 2px;
}
#unstitched-26-nav-dd {
  background-color: transparent;
  display: inline-block;
  border-left: 1px solid rgb(219, 219, 219);
  padding: 9px 20px 9px 20px;
  letter-spacing: 2px;  
  font-size: 10pt;
}
#unstitched-26-nav-dd .dropdown-toggle {
  color: rgb(134, 134, 134);
}
#unstitched-26-nav-dd:hover .dropdown-toggle {
  color: black;
}
@media (min-width: 384px) and (max-width: 768px) {
  #unstitched-26-filter {
    visibility: visible;
  }
  #unstitched-26-ten-product {
    visibility: hidden;
  }
  .unstitched-26-sidebar-filter {
    display: none;
  }
  .unstitched-26-products {
    width: 100%;
    /* margin: 15px; */
  }
  

}
.unstitched-26-pd1 {
  letter-spacing: 1.5px;
  line-height: 15px;
  padding-top: 16px;
}
.unstitched-26-pd2 {
  line-height: 10px;
  letter-spacing: 1.5px;
  cursor: text;
}
.unstitched-26-pd3 {
  cursor: text;
  font-size: 9pt;
}
.unstitched-26-containers {
  position: relative;
  z-index: 1;
  width: 100%;
}
.unstitched-26-height-observer {
  border-top: 1.5px solid rgb(219, 219, 219);
  border-bottom: 1.5px solid rgb(219, 219, 219);
  background-color: white;
  position: sticky;
  top: 53px;
  z-index: 1000;
}
.unstitched-26-sortby-filtter-btns {
  background-color: transparent;
  border-left: 1px solid rgb(219, 219, 219);
  border-right: none;
  border-top: none;
  border-bottom: none;
  text-transform: uppercase;
  color: rgb(132, 132, 132);
  padding: 15px 30px 15px 30px;
}
.unstitched-26-sort-filter-btn {
  position: absolute;
  right: 0px;
  z-index: 1001;
}
.unstitched-26-c-l-s {
  position: absolute;
  left: 10px;
  border-right: 1px solid rgb(219, 219, 219);
}
.unstitched-26-left-buttons {
  background-color: transparent;
  padding: 11px 30px 11px 30px;
}
#unstitched-26-ten-product {
  padding-top: 13px;
  font-weight: bold;
}
.unstitched-26-accordion-button:focus {
  box-shadow: none; /* Soft gray shadow instead of blue */
}
.unstitched-26-accordion-button:not(.collapsed) {
  background-color: transparent; /* 👈 Change this to whatever background color you want */
  color: black; /* 👈 Change this to your preferred text color when open */
}
.unstitched-26-acrdin-head-p {
  text-transform: uppercase;
  letter-spacing: 2px;
}
.unstitched-26-details-products-maindiv {
  display: flex;
  margin-top: 50px;
}
.unstitched-26-details-products-maindiv {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}
.unstitched-26-sidebar-filter {
  width: 100%;
  max-width: 25%;
  position: sticky;
  top: 127px;
  align-self: flex-start;
  margin: 20px;
  background: white;
  z-index: 2;
}
.unstitched-26-all-products {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  width: 100%;
  margin-right: 25px;
  margin-top: 20px;
}
@media (min-width: 384px) and (max-width: 500px) {
  .unstitched-26-all-products{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .unstitched-26-products-imgs{
    margin: 10px;
  }
}
#unstitched-26-left-fix-btns {
  color: rgb(132, 132, 132);
  background-color: transparent;
  padding: 14px 10px 16px 10px;
  border: none;
}
#unstitched-26-left-fix-btns:hover {
  color: black;
}
.unstitched-26-change-img {
  border: 1px solid black;
}
.unstitched-26-products-imgs-row {
  width: 100%;
  max-width: 100%;
  margin: 0;
  cursor: pointer;
}
.unstitched-26-products-imgs-row img,
.all-products img {
  width: 100%;
  height: auto;
  object-fit: cover; /* fills the box without stretching */
  display: block;
}
.unstitched-26-r2-p-imgs-div {
  gap: 40px;
  display: flex;
  flex-direction: row;
  /* object-fit: cover; */
}
.unstitched-26-products-imgs{
  cursor: pointer;
  width: 100%;
  padding-right: 0;
  position: relative;
}
.unstitched-26-add-to-cart-btn {
  position: absolute;
  background-color: white;
  border: 1px solid black;
  padding: 5px 10px 5px 10px;
  margin-left: 160px;
  bottom: 130px;
  /* opacity:0; */
  transform: translateY(10px);
  transition: 0.3s;
}
.unstitched-26-img-box {
  display: grid;
}
.unstitched-26-img-box:hover .add-to-cart-btn {
  opacity: 1;
  transform: translateY(0);
}
